.chatrank-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primitives-colors-common-white);
  font-family: var(--text-small-font-family);
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-main {
  display: flex;
  gap: 20px;
}

.tables-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
